# Python Virtual Environment
venv/
ENV/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Confidential / Local image & Excel data files
*.xlsx
*.xls
*.jpg
*.png
*.jpeg
